@import url(master.css);

nav {
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin: 0;
  margin-bottom: 10px;
  background-color: var(--navbar);
}

nav .navitem {
  display: flex;
  align-items: center;
}

nav .navitems {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  opacity: 1;
  justify-self: flex-end;
}

nav .logo {
  display: flex;
  align-items: center;
}

nav .logo h1 { margin-left: 15px; font-size: 30px; }

nav a {
  color: var(--text);
  text-decoration: none;
  font-size: 18px;
  margin: 10px;
  transition: all 0.6s;
  padding: 10px 15px;
  border-radius: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s all;

}

nav a:visited {
  color: var(--text);
}

nav img {
  height: 40px;
}

nav .selected a, nav .navitem a:hover {
  background-color: var(--accent);
  text-decoration: none;
  color: var(--background);
  filter: brightness(100%);
}

/*nav {
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s ease-in-out;
}*/

/* nav .navitem:not(:last-child)::after {
  content: "/";
  margin: 0 7px;
  color: gray;
} */