@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&family=JetBrains+Mono:wght@300;400&display=swap');
@import url(main.css);
@import url(themes.css);
@import url(nav.css);
@import url('https://fonts.cdnfonts.com/css/gg-sans-2');

* {
    margin: 0;
    padding: 0;
    font-family: "JetBrains Mono", monospace;
    font-weight: 400;
}
