body[theme="main"] {
    --text-color: white;
    --background: #1a2023;
    --navbar: #0e1213;
    --accent: #0284d4;
}

body[theme="forest"] {
    --text-color: white;
    --background: #2c3e50;
    --navbar: #1c221d;
    --accent: #27ae60;
}

body[theme="ocean"] {
    --text-color: white;
    --background: #34495e;
    --navbar: #2d1a79;
    --accent: #2980b9;
}